body{
    display: flex;
    justify-content: center;
}

.booksContainer{
    width: 100vw;
    height: auto;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}